html {
    background: url(Register_background.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    background: none;
}

.cona {
    background-color: black;
}

.card {
    width: 40rem;
    margin-left: 400px;
    margin-top: 80px;
}
